# 임시파일
*.pyc
*.pid
__pycache__/
캐릭터db생성.py
test.py
webpconvert.py

#결과물 폴더
Posts/Images
Posts/.title
Images

#빌드 폴더/파일
build
dist
main.exe
BlueNote.spec

# pyinstaller -w -F --icon=Gui/Useimages/icon.ico -n BlueNote main.py

# 공통 추가사항 - Gui에 이미지 추가
# 오파츠 추가 - DatabaseUser.json에 오파츠 순서 수정/추가
# 학생 추가 - Database.json에 학생 추가